@use 'variable' as v;

.turn-box {
  display: flex;
  justify-content: center;
}

.turn-box-item {
  font-size: 1.5rem;
  padding: 10px 28px;

  &.js-active {
    border-bottom: 4px solid v.$accent-color;
  }
}
